<div class="container">
  <div class="row">
    <h1 class="m-5" style="color:white">Register for Amplify</h1>
  </div>
</div>
<div class="container float-left mw-100">
  <div class="jumbotron">
  	<div class="container">
  		<form>
  			<div class="form-group row">
  				<label class="col-sm-2 col-form-label"  for="emailAddress">Email address</label>
  				<div class="col-sm-10">
  					<input type="email" class="form-control" name="emailAddress" ng-model="$ctrl.email" placeholder="Enter email">
  				</div>
  			</div>
  			<div class="form-group row">
  				<label  class="col-sm-2 col-form-label" for="passwordFirst">Password</label>
  				<div class="col-sm-10">
  					<input type="password" class="form-control" ng-model="$ctrl.password" name="passwordFirst" placeholder="Password">
  				</div>
  			</div>
  			<div class="form-group row">
  				<label  class="col-sm-2 col-form-label" for="passwordConfirm">Confirm Password</label>
  				<div class="col-sm-10">
  					<input type="password" class="form-control" ng-model="$ctrl.passwordConf" name="passwordConfirm" placeholder="Confirm Password">
  				</div>
  			</div>
        <!-- needs to be connected w spotify login upon click-->
  			<input type="submit" value="submit" ng-click="$ctrl.registerUser()" class="btn btn-primary btn-block">
  		</form>
  		<br>
  	</div>
  </div>
</div>

