<html>
<head>
	<title>API Test</title>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<h1>API Test</h1>
	<p id="test1"></p>
	<p id="test2"></p>
	<script>
		var test = document.getElementById('test1')
		var test2 = document.getElementById('test2')
		test.innerHTML = 'hello'
		axios.get('/top-artists').then(response => {
			console.log(response)
			var artists = '';
			var count = 1;
			response.data.items.forEach(artist => {
				artists += count + ': ' + artist.name;
				artists += ' Genre: ' + artist.genres[0];
				artists += '</br>';
				count++;
			})
			test.innerHTML = artists;
		})

		axios.get('/top-tracks').then(response => {
			console.log(response)
			var tracks = '';
			var count = 1;
			response.data.items.forEach(track => {
				tracks += count + ': ' + track.name;
				tracks += ' Album: ' + track.album.name;
				tracks += '</br>';
				count++;
			})
			test2.innerHTML = tracks;
		})
	</script>



<!--styling for player buttons -->
	<style>
	.buttonAlign{
	  text-align: center;
	}
	.buttonPlay:hover{
	  box-shadow: 0 4px 8px 0
	    rgba(0,0,0,00.2), 0 10px 20px 0
	    rgba(0,0,0,0.19)

	}
	</style>
<!-- player html-->
<div class="buttonAlign">
  <button class = "buttonPlay" onclick="player.play()"><img src="resources/img/play.png"></button>
  <button onclick="player.pause"><img src="resources/img/pause.png"></button>
  <button onclick="player.prev"><img src="resources/img/Prev.png"></button>
  <button onclick="player.next"><img src="resources/img/Next.png"></button>
</div>
<!--functions for buttons-->
<script>

  var player,
      paused = false;

  player = {
    playing: false,
    play: function() {
      console.log('play')
      axios.put('https://api.spotify.com/v1/me/player/play').then(response => {
        console.log(response)
      });
      player.playing = true;
      paused = false;
    },

    //will need to include something in the javacript to change the image of the play button to a pause here
    pause: function() {
      if (player.playing) {
        axios.put('https://api.spotify.com/v1/me/player/pause');
        player.playing = false;
        paused = true;
      }
    },

    //don't think this function will be needed
    reset: function() {
      axios.put('https://api.spotify.com/v1/me/player/pause');
      player.playing = false;
    },

    next: function() {
      axios.post('https://api.spotify.com/v1/me/player/next');
      if(player.playing == false){
        player.playing = true;
      }
    },

    previous: function() {
      axios.post('https://api.spotify.com/v1/me/player/previous');
      if(player.playing == false){
        player.playing = true;
      }
  }
}
</script>

</body>
</html>
