<html>
<head>
	<title>API Test</title>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<h1>API Test</h1>
	<p id="test1"></p>
	<p id="test2"></p>
	<script>
		var test = document.getElementById('test1')
		var test2 = document.getElementById('test2')
		test.innerHTML = 'hello'
		axios.get('/top-artists').then(response => {
			console.log(response)
			var artists = '';
			var count = 1;
			response.data.items.forEach(artist => {
				artists += count + ': ' + artist.name;
				artists += ' Genre: ' + artist.genres[0];
				artists += '</br>';
				count++;
			})
			test.innerHTML = artists;
		})

		axios.get('/top-tracks').then(response => {
			console.log(response)
			var tracks = '';
			var count = 1;
			response.data.items.forEach(track => {
				tracks += count + ': ' + track.name;
				tracks += ' Album: ' + track.album.name;
				tracks += '</br>';
				count++;
			})
			test2.innerHTML = tracks;
		})
	</script>

<!-- Start of player html and js; needs to be adapted to angular and given css -->
	<body ng-controller="ampCtrl">
		<div id="container">
			<div class="playlist">
				<h1>Playlist</h1>
				<nav>
					<button onclick="player.play()"><img src="resources/img/play.png"></button>
					<button onclick="player.pause"><img src="resources/img/pause.png"></button>
					<button onclick="player.prev"><img src="resources/img/Prev.png"></button>
					<button onclick="player.next"><img src="Next"></button>
				</nav>

			</div>
			<!-- Adjust; See if this is viable for the spotify display/queue stuff
			<section class="library">
				<h1>Music Library</h1>
				<ul class="albums">
					<li class="album current" ng-repeat="album in albums">
						<button class="queue add" ng-click="player.playlist.add(album)"></button>
						<span class="album-title">{{album.title}}</span>
						<span class="artist-name">{{album.artist}}</span>
					</li>
				</ul>
			</section> -->
		</div>
		<script>
			var player,
					paused = false;

			player = {
				playing: false,
	//not sure we'll need any of the album stuff since we're just pulling data from spotify
				play: function() {
					console.log('play')
					axios.put('https://api.spotify.com/v1/me/player/play').then(response => {
						console.log(response)
					});
					player.playing = true;
					paused = false;
				},

				//will I need to include something in the javacript to change the image of the play button to a pause here?
				//Probably...
				pause: function() {
					if (player.playing) {
						axios.put('https://api.spotify.com/v1/me/player/pause');
						player.playing = false;
						paused = true;
					}
				},

				//don't think this function will be needed
				reset: function() {
					axios.put('https://api.spotify.com/v1/me/player/pause');
					player.playing = false;
				},

				next: function() {
					axios.post('https://api.spotify.com/v1/me/player/next');
					if(player.playing == false){
						player.playing = true;
					}
				},

				previous: function() {
					axios.post('https://api.spotify.com/v1/me/player/previous');
					if(player.playing == false){
						player.playing = true;
					}
			}
		}
		</script>
</body>
</html>
