
<div class="container float-left mw-100">
  <div class="row">
    <h1 class="m-5" style="color:white">Welcome, User.</h1>
  </div>
</div>

<div class="container float-left mw-100">
  <div class="row">

    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your Top 5 Songs This Week</h5>
          <ol class="list-group list-group-flush">
            <li class="list-group-item">Where the Money Flow - Peter Cat Recording Co.</li>
            <li class="list-group-item">Televsion/So Far So Good - Rex Orange County</li>
            <li class="list-group-item">Hallelujah, I Love Her So - Ray Charles</li>
            <li class="list-group-item">Vienna - Ben Platt</li>
            <li class="list-group-item">Disaster - D.A. Wallach</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is where we'll be inserting the song animation! Pretty cool!</p>
        <hr class="my-4">
        <p>We're looking into using tools like Three.js to develop frequency and mood-based animation.</p>
        <a class="btn btn-primary btn-lg" href="https://threejs.org/" target="_blank" role="button">Check out some other cool project made using Three.js</a>
      </div>
    </div>

  </div>
</div>
